.card {
    margin-top: 20;
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 60vh;
    border-radius: 20px;
    background-size: 105%, 105%;
    background-repeat: no-repeat;
    box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, .3);
}

.MovieTitle {
    margin-top: 1000;
}

.card > h3 {
    position: absolute;
    bottom: 10;
    color: white;
}

.card > h4 {
    position: absolute;
    bottom: 0;
    color: white;
}

.tinderCardsContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.swipe {
    position: absolute
}